body {
    position: absolute;
    left: 100px;
    color: #000;
}

label {
    margin-right: 10px;
}
select {
    padding: 5px;
}
button {
    margin-top: 20px;
    padding: 7px 15px;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
    background-color: rgb(26, 218, 19);
}
#result {
    color: #000;
	font-size: 20px;
}