body {
    position: absolute;
    left: 100px;
    color: #000;
}

h1 {
    font-weight: 100;
}
.text {
    font-weight: 100;
    margin-right: 20px;
}
input {
    width: 200px;
	height: 25px;
    padding: 5px;
}

button {
    margin-top: 20px;
    padding: 7px 15px;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
    background-color: rgb(26, 218, 19);
}

canvas {
    border: 1px solid #ccc;
}