body {
    position: absolute;
    left: 100px;
    color: #000;
}

h1 {
    font-weight: 100;
}
input {
    height: 25px;
    font-size: 20px;
}
button {
    margin-top: 20px;
    padding: 7px 15px;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
    background-color: rgb(26, 218, 19);
}
.result {
    font-weight: 300;
    font-size: 20px;
}