div {
    padding: 50px;
  }
  button {
    margin-top: 10px;

    width: 300px;
    height: 50px;

    padding: 12px 10px;
    align-items: center;
    border: solid 1px  rgb(44, 197, 6);
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(44, 197, 6);
    color: #000;
    font-size: 18px;
  }
  .content {
    height: 300px;
  }
  .text-input {
    gap: 15px;
    width: 300px;
    height: 30px;
    color: rgba(154, 165, 182, 1);
    padding: 12px;
    font-size: 18px;
    border: solid 1px rgba(84, 95, 112, 1);
    border-radius: 6px;
  }
  .text-result {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    text-align: left;
    font-size: 20px;
  }
  