body {
    position: absolute;
    left: 100px;
    color: #000;
}
h1 { 
	font-weight: 100;
}

button { 
	margin-top: 20px;
    padding: 7px 15px;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
    background-color: rgb(26, 218, 19);
}


input {
	width: 200px;
	height: 25px;
}
p {
	color: #000;
	font-size: 20px;
}