body {
    position: absolute;
    left: 200px;
}

h2 {
    font-size: 20px;
    color: #000;
    font-weight: 100;

}

input {
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

button {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 16px;
    color: #000;
    background-color: #07d107;
    border: 0;
    border-radius: 10px;
}

#output {
    color: #000;
    margin-top: 20px;
    font-size: 20px;
}
